:ruby
  @pagetitle = 'Submit Package'

.row
  .col
    .card
      .card-body
        .col-12
          %h3= @pagetitle
        .col-12
          %p Do you want to submit #{package_link @package, rev: @revision}?
        .col-12.col-md-9.col-lg-6
          = form_for(@bs_request, url: project_package_submissions_path(@project, @package)) do |f|
            = f.fields_for(:bs_request_actions) do |bs_request_action|
              = bs_request_action.hidden_field(:source_project)
              = bs_request_action.hidden_field(:source_package)
              = bs_request_action.hidden_field(:source_rev)
              .form-group
                = bs_request_action.label(:source_project, 'From source project:')
                = bs_request_action.text_field(:source_project, disabled: true, class: 'form-control text-truncate')
              .form-group
                = render partial: 'webui/shared/autocomplete', locals: { html_id: 'target_project', label: 'To target project:',
                                                                         disabled: params[:readonly], value: nil,
                                                                         data: { source: autocomplete_projects_path,
                                                                                 requests_url: request_list_small_path,
                                                                                 develpackage_url: package_devel_project_path(@project, @package) } }
                - if params[:readonly]
                  = bs_request_action.hidden_field(:target_project, nil)
            .form-group
              = label_tag(:target_package, 'To target package:')
              = text_field_tag(:target_package, nil, disabled: params[:readonly], class: 'form-control')
              - if params[:readonly]
                = hidden_field_tag(:target_package, nil)
            .form-group
              = label_tag(:description, 'Please describe your reasons to submit this package:')
              %abbr.text-danger{ title: 'required' } *
              ~ text_area_tag(:description, nil, size: '40x3', class: 'form-control', required: true)
            .form-group.d-none#supersede-display
              = label_tag(:supersede_requests, 'Supersede requests:')
              #supersede-requests
            .custom-control.custom-checkbox#sourceupdate-display
              = check_box_tag(:sourceupdate, 'cleanup', nil, class: 'custom-control-input')
              = label_tag(:sourceupdate, 'Remove local package if request is accepted', class: 'custom-control-label')
            %p.d-none#devel-project-warning
              You are about to bypass the devel project, please submit to
              %b#devel-project-name
              instead.
            .pt-4
              = submit_tag('Submit', class: 'btn btn-primary px-4')

-# TODO: do we need this?
- content_for :ready_function do
  setupRequestDialog('#{package_branch_diff_info_path(@project.name, @package.name)}');
